<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.android">
    <!-- Retrofit -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 카메라 등록 매니페스트 3줄 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--카메라 권한-->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <!--쓰기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--읽기 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".manager.staff.ManagerStaffActivity"
                android:exported="true"/>
        <activity
                android:name=".manager.bbs.ManagerBbsActivity"
                android:exported="true"/>
        <activity
                android:name=".manager.ManagerMenuActivity"
                android:exported="true"/>
        <activity
                android:name=".manager.ManagerActivity"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsUpdateActivity"
                android:exported="true"/>
        <activity
                android:name=".bbs.SelectActivity"
                android:exported="true"/>
        <activity
                android:name=".SplashActivity"
                android:exported="true"/>
        <activity
                android:name=".chat.fragment.SelectPeopleActivity"
                android:exported="true"/>
        <activity
                android:name=".chat.MessageActivity"
                android:exported="true"/>
        <activity
                android:name=".chat.GroupMessageActivity"
                android:exported="true"/>
        <activity
                android:name=".pointMall.PointMallHistoryActivity"
                android:exported="true"/>
        <activity
                android:name=".pointMall.PointMallDetailActivity"
                android:exported="true"/>
        <activity
                android:name=".signinAf.SemiWaitingActivity"
                android:exported="true"/>
        <activity
                android:name=".signinAf.SemiIndividualActivity"
                android:exported="true"/>
        <activity
                android:name=".signinAf.SemiManagementActivity"
                android:exported="true"/>
        <activity
                android:name=".signinAf.SemiScreenActivity"
                android:exported="true"/>
        <activity
                android:name=".phoneNumber.PhoneNumActivity"
                android:exported="true"/>
        <activity
                android:name=".lunch.FoodWriteActivity"
                android:exported="true"/>
        <activity
                android:name=".alram.AlarmActivity"
                android:exported="true"/>
        <activity
                android:name=".offday.OffDayActivity"
                android:exported="true"/>
        <activity
                android:name=".pointMall.PointMallActivity"
                android:exported="true"/>
        <activity
                android:name=".chat.ChatActivity"
                android:exported="true"/>
        <activity
                android:name=".lunch.FoodActivity"
                android:exported="true"/>
        <activity
                android:name=".calendar.CalendarActivity"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsDetail"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsWrite"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsActivity"
                android:exported="true"/>
        <activity
                android:name=".signin.SigninActivity"
                android:exported="true"/>
        <activity
                android:name=".firstscreen.firstscreenActivity"
                android:exported="true"/>
        <activity
                android:name=".signup.SignupActivity"
                android:exported="true"/>
        <activity
                android:name=".pointMall.PointMallDetailActivity"
                android:exported="true"/>
        <activity
                android:name=".phoneNumber.PhoneNumActivity"
                android:exported="true"/>
        <activity
                android:name=".lunch.FoodWriteActivity"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".alram.AlarmReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>